h2
{
    font-size: 700px;
    position: absolute;
    z-index: -5;
    color: rgba(300, 300, 300, 0.15);
    margin-top: 520px;
}

h3
{
    display: flex;
    margin: 590px 0 15px 0;
    justify-content: center;
    align-items: center;
}

.container
{
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.btn-container .btn{
    width: 100%;
    height: 50px;
    border: none;
    border-radius: 50px;
    text-align: center;
    font-size: 20px;
    outline: none;
    padding: 10px 50px;
}

.btn-container .home-btn{
    background: #1B9141;
}
.btn-container .home-btn:hover{
    cursor: pointer;
    color: #27ae60;
}

