h2
{
    font-size: clamp(0px, 60vw, 700px);
    line-height: clamp(0px, 50vw, 500px);
    color: rgba(300, 300, 300, 0.05);
    margin: 30px 0 20px 0;
    z-index: -5;

}

p
{
    justify-content: center;
    align-items: center;
    color: #c4c4c4;
}

.container
{
    position: relative;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.btn-container .btn{
    width: 100%;
    height: 50px;
    border: none;
    border-radius: 50px;
    text-align: center;
    font-size: 20px;
    outline: none;
    padding: 10px 50px;
}

.btn-container .home-btn{
    background: #1B9141;
}
.btn-container .home-btn:hover{
    cursor: pointer;
    color: #27ae60;
}

