body
{
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: sans-serif;
    color: #7e7e7e;

}

.contact-container
{
    height: calc(100vh - 100px);
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1
{
    text-align: center;
}

.contact-title
{
    margin-top: clamp(10px, 5%, 60px);
    color: #ffffff;
}

.contact-title h2
{
    font-size: 32px;
    line-height: 10px;
    text-transform: uppercase;
}

.contact-title h3
{
    font-size: 16px;
    font-weight: normal;
}

form
{
    margin-top: 50px;
}

.form-control
{
    width: clamp(0px, 90%, 600px);
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid gray;
    color: #ffffff;
    font-size: 18px;
    margin-bottom: 16px;
}

input
{
    height: 45px;
}

form .submit
{
    background: #1B9141;
    border-color:  transparent;
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 2px;
    height: 50px;
    margin-top: 20px;
    border-radius: 30px;
}

form .submit:hover
{
    background-color: #10993b;
    cursor: pointer;
}