body
{
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: sans-serif;
    color: #7e7e7e;

}

h1
{
    text-align: center;
}

.contact-title
{
    margin-top: 100px;
    color: #ffffff;
    text-transform: uppercase;
    transition: all 5s ease-out;
}

.contact-title h2
{
    font-size: 32px;
    line-height: 10px;
}

.contact-title h3
{
    font-size: 16px;
}

form
{
    margin-top: 50px;
    transition: all 4s ease-in-out;
}

.form-control
{
    width: 600px;
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid gray;
    color: #ffffff;
    font-size: 18px;
    margin-bottom: 16px;
}

input
{
    height: 45px;
}

form .submit
{
    background: #1B9141;
    border-color:  transparent;
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 2px;
    height: 50px;
    margin-top: 20px;
}

form .submit:hover
{
    background-color: #2cd361;
    cursor: pointer;
}