.landing-section{
    width: 100vw;
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.landing-section .webgl{
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.container{
    width: clamp(0px, 90%, 700px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.main-title{
    font-size: clamp(3.5rem, 10vw, 7rem);
    text-align: center;
    margin: 0;
}

.btn-container{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.btn-container a{
    width: 48%;
}

.btn-container .btn{
    width: 100%;
    height: 50px;
    background: #555555;
    border: none;
    border-radius: 50px;
    text-align: center;
    font-size: 20px;
    outline: none;
}

.btn-container .login-btn{
    background: #1B9141;
}

.btn-container .signup-btn{
    background: #BF2F42;
}

.paragraph{
    font-weight: 300;
    margin: 20px 0;
    text-align: center;
}

.url-manager-link{
    width: 100%;
    height: 50px;
    line-height: 50px;
    text-align: center;
    background: #1B9141;
    border-radius: 30px;
    text-transform: uppercase;
    font-weight: 500;
}

.url-shorter-field-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.url-shorter-field-container form{
    width: 100%;
    position: relative;
}

.url-shorter-field-container .field{
    width: 100%;
    background: #444444;
    height: 50px;
    border-radius: 50px;
    border: none;
    box-sizing: border-box;
    margin-top: 20px;
    text-align: center;
    font-size: 20px;
    outline: none;
}

.url-shorter-field-container .url-shorter-submit{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #1B9141;
    position: absolute;
    border: none;
    color: #ffffff;
    font-size: 16px;
    right: 0;
    bottom: 0;
    font-weight: bold;
}

.copy-input{
    background: none;
    border: none;
    outline: none;
    font-size: 16px;
    transition: .3s ease-in-out;
    cursor: pointer;
}

.copy-input:hover{
    color: #1B9141;
}