.landing-section{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.landing-section .webgl{
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.container{
    width: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.main-title{
    font-size: 110px;
    text-align: center;
    margin: 10px 0;
}

.btn-container{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.btn-container a{
    width: 48%;
}

.btn-container .btn{
    width: 100%;
    height: 50px;
    background: #555555;
    border: none;
    border-radius: 50px;
    text-align: center;
    font-size: 20px;
    outline: none;
}

.btn-container .login-btn{
    background: #1B9141;
}

.btn-container .signup-btn{
    background: #BF2F42;
}

.url-shorter-field-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.url-shorter-field-container form{
    width: 100%;
    position: relative;
}

.url-shorter-field-container .field{
    width: 100%;
    background: #444444;
    height: 50px;
    border-radius: 50px;
    border: none;
    box-sizing: border-box;
    margin-top: 20px;
    text-align: center;
    font-size: 20px;
    outline: none;
}

.url-shorter-field-container .url-shorter-submit{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #1B9141;
    position: absolute;
    border: none;
    color: #ffffff;
    font-size: 16px;
    right: 0;
    bottom: 0;
    font-weight: bold;
}