.landing-section{
    width: 100vw;
    margin-top: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    width: clamp(0px, 90%, 400px);
    background: #050505;
    box-shadow: 0px 0px  10px 10px rgba(10, 10, 10, 0.8);
    border-radius: 50px;
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.form-connection{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.form-connection label{
    width: 100%;
    text-align: left;
}

.username-field{
    background: #444444;
    width: 100%;
    border-radius: 50px;
    border: none;
    height: 50px;
    margin: 10px 0;
    box-sizing: border-box;
    padding: 0 20px;
    outline: none;
}

.form-connection-field{
    background: #444444;
    width: 100%;
    border-radius: 50px;
    border: none;
    height: 50px;
    margin: 10px 0;
    box-sizing: border-box;
    padding: 0 20px;
    outline: none;
}

.userpassword-submit{
    background: #1B9141;
    font-size: 20px;
    /* font-weight: bold; */
}