@import 'footer.css';
@import 'navbar.css';


*{
    font-family: 'Roboto', sans-serif;
    color: #ececec;
}


body{
    margin: 0;
    background: rgb(4,4,4);
    background: radial-gradient(circle, rgba(16,16,16,1) 0%, rgba(0,0,0,1) 100%);
    overflow-x: hidden;
}

a{
    text-decoration: none;
}
