@import 'footer.css';
@import 'navbar.css';


*{
    font-family: Arial, Helvetica, sans-serif;
    color: #ececec;
}


body{
    margin: 0;
    background: rgb(4,4,4);
    background: radial-gradient(circle, rgba(16,16,16,1) 0%, rgba(0,0,0,1) 100%);;
}

a{
    text-decoration: none;
}
