@import url('https://fonts.googleapis.com/css2?family=Anton&family=Lato:ital@1&family=Varela+Round&display=swap');
.texte{
    width: 100vw;
    height: 100px;
    background: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    transition: all 0.3s ease 0s;
}

 li, a, button{
     font-family: "varela Round", sans-serif;
     font-size: 17px;
     color: #ffffff;
     border: none;
 }

    
.texte li a{
    transition: all 0.3s ease 0s;
}




button{
    padding: 15px 25px;
    background-color:#2ecc71;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    margin-right: 10px;
    outline: none;
}

.texte button:hover{
    background-color:#1e272e;

    color: #27ae60;
}


.texte a:hover{
    color: #27ae60;

}

