
.texte{
    width: 100vw;
    height: 100px;
    background: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    transition: all 0.3s ease 0s;
}

img.urlight-logo{
    width: 200px
}

.navbar li, .navbar a, .navbar button{
     font-family: "varela Round", sans-serif;
     font-size: 17px;
     color: #ffffff;
     border: none;
     display: flex;
 }

    
.texte li a{
    transition: all 0.3s ease 0s;
}


.account-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.account-container .account-btn{
    margin: 0 20px;
}

.navbar a.link-button{
    padding: 7.5px 25px;
    background-color:#2ecc71;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    margin-right: 10px;
    outline: none;
}

.texte .navbar button:hover{
    background-color:#1e272e;
    color: #27ae60;
}


.texte a:hover{
    color: #27ae60;

}

