@import url('https://fonts.googleapis.com/css2?family=Anton&family=Lato:ital@1&family=Varela+Round&display=swap');
.texte{
    width: 85vw;
    height: 5vh;
    background: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    list-style: none;
    display: inline-block;
   
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

 li, a, button{
     font-family: "varela Round", sans-serif;
     font-size: 17px;
     color: #fff;
     border: none;
 }
.texte li {
    display: inline-block;
    padding: 0px 45px;
    }
    
    .texte li a{
        transition: all 0.3s ease 0s;
        cursor: pointer;
    }
    
    .texte :hover{
        color: #27ae60;
    
    }


button{
    padding: 15px 25px;
    background-color:#2ecc71;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    margin-right: 10px;
}

button:hover{
    background-color:#1e272e;
}