.navbar {
    display: flex;
    width: 100vw;
    height: 100px;
    justify-content: space-around;
    align-items: center;
    padding: 0 20px;
}

.navbar .urlight-logo{
    width: 200px;
}

.navbar .links-container{
    display: flex;
    width: 70%;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

.account-info-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.signup-btn{
    width: 100px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    border-radius: 30px;
    background:#1B9141 ;
}

.signin-btn{
    width: 100px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    border-radius: 30px;
    border: 1px solid #ececec;
    margin-left: 20px;
}

.account-username-display{
    color: #1B9141;
}

.logout-btn{
    width: 100px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    border-radius: 30px;
    border: 1px solid #ececec;
    margin-left: 20px;
}

.link-animation{
    position: relative;
    display: inline;
    overflow: hidden;
}

.link-animation:after{
    content : '';
    position: absolute;
    z-index: -1;
    right: 0;
    width: 0;
    bottom: -2px;
    background: #1B9141;
    height: 2px;
    transition: .3s ease-out;
}

.link-animation:hover:after{
    left: 0;
    right: auto;
    width: 100%;

}