<<<<<<< HEAD
body{
    background-image: radial-gradient(circle, #111015, #100f14, #0f0e12, #0d0c11, #0c0b0f, #0b0a0e, #0b0a0d, #0a090c, #0a090c, #0a090c, #0a090c, #0a090c);
    opacity: 0,75;

}



=======


.forum{
    align-items: center;
}
>>>>>>> feac1fde9ba3cae8060644c09ff9749076271963
